@font-face {
    font-family: minecraftrus;
    src: url(../fonts/minecraft.ttf);
   }
body{
 /*   background-color: black;*/
	font-family: minecraftrus;
    text-align: center;
    background-image: url(../img/fon.jpg);
    background-attachment: fixed;    
    
}
.obvod{
-webkit-text-stroke: 1px black;
}
h1{
	font-size:60px;
	text-align: center;
	margin-top: 80px;
	color:#FF4500;
}
h3{
	font-size:25px;
	color:#7FFF00;
	margin-top:50px
}
.app{
    padding: 15px;
}
.apparea{
    text-align: center;
    background-color: rgba(63, 0, 114, 0.26);
	width:600px;
    color: rgb(0, 247, 255);
    font-size: 20px;
    border: 2px solid blue;
    border-radius: 20px;
    top: 50px;
}
.apparea:hover{
    color: rgb(0, 247, 255);
    font-size: 25px;
    border: 3px solid blue;
    border-radius: 20px;
    transition: 0.3s all;
}
.pred {
	margin-top: 20px;
	color:#00FFFF;
}
.button{
    color: rgb(255, 255, 255);
    border: 5px  solid rgb(0, 0, 0);
    margin: 5px;
    padding: 15px;
    border-radius: 10px;
    width: 250px;
    font-family: minecraftrus;
    font-size: 20px;
    background-image: url(../img/button2.jpg);
}
.button:hover{
    background-color: rgba(0, 225, 255, 0.705);
    transform: scale(0.95);
    transition: 0.3s all;
}
.divz{
    padding: 15px;
}