@font-face {
    font-family: minecraftrus;
    src: url(../fonts/minecraft.ttf);
   }
body{
 /*   background-color: black;*/
	font-family: minecraftrus;
    text-align: center;
    background-image: url(../img/fon.png);
    background-attachment: fixed;    
    
}
.obvod{
-webkit-text-stroke: 1px rgba(233, 190, 0, 0.397);
}
h1{
	font-size:60px;
	text-align: center;
	margin-top: 300px;
	color:#FF4500;
}
h3{
	font-size:25px;
	color:#00d394;
	margin-top:50px
}
.app{
    padding: 15px;
}
.apparea{
    text-align: center;
    background-image: url(../img/button3.png);
	width: 450px;
    color: rgb(177, 177, 177);
    font-size: 25px;
    border: 2px solid rgb(0, 47, 255);
    border-radius: 10px;
    padding: 7px;
    margin-top: 10px;
}
.apparea::placeholder{
    color: #6d6d6d;
}
.apparea:hover{
    border: 2px solid rgb(0, 195, 255);
    transition: 0.3s all;
}
.pred {
	margin-top: 20px;
	color:#00FFFF;
}
.button{
    color: rgb(255, 255, 255);
    border: 5px  solid rgb(255, 255, 255);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    font-family: minecraftrus;
    font-size: 20px;
    background-image: url(../img/button3.png);
}
.button:hover{
    background-color: rgba(0, 225, 255, 0.705);
    transform: scale(0.95);
    transition: 0.3s all;
}
.ddd{
    color: #44ff5d;
}
.exit{
    /* 
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    font-family: minecraftrus;
    font-size: 20px;
   */
    background-color: rgba(105, 105, 105, 0);
    font-size:40px; 
    color: #ffffff;
    font-family: minecraftrus;
    border: 0px;
    left:0px;
    width: 310px;
    height: 70px;
    border-radius: 10px;
    position: fixed;
    top: 0px;
}
.exit:hover{
    background-color: rgba(105, 105, 105, 0.5);
    transition: 0.3s all;
}