@font-face {
    font-family: minecraftrus;
    src: url(../fonts/minecraft.ttf);
   }
body{
	background-image: url(../img/mainfon.png);
	font-family: minecraftrus;
    text-align: center;
    background-attachment: fixed;    
}
.sett{
    position: fixed;
    margin-top: -120px;
    z-index: -500;
    }
 .sett1{
    position: fixed;
    z-index: -1000;
    padding: 5px;
    /* border: 2px solid aqua; */
    background-color: rgba(105, 105, 105, 0.404);
    left: 0px;
    width: 360px;
    height: 1000000000000000px;
    margin-top: -5000px;
    /* padding: 100px; */
 }

.buttfd{
background-color: rgba(105, 105, 105, 0);
font-size:40px;
font-family: minecraftrus;
border: 0px;
left:0px;
width: 373px;
height: 70px;
border-radius: 0px;
position: fixed;
top: 250px;
}
.list{
    color: rgb(119, 119, 119);
}
.buttfd:hover{
background-color: rgba(146, 146, 146, 0.199);
color:rgb(226, 226, 226);
transform: scale(0.99);
}
.nick{

    color: aqua;
    margin-left: 950px;
    margin-top: -330px;
    font-size: 25px;
    padding: 15px;
    width: 500px;

}

.name{

    color: aqua;
    margin-left: 950px;
    margin-top: -1px;
    font-size: 25px;
    padding: 15px;
    width: 500px;

}
.syty{

    color: aqua;
    margin-left: 950px;
    margin-top: -1px;
    font-size: 25px;
    padding: 15px;
    width: 500px;

}
.ds{
    color: #FF4500;
    margin-left: 950px;
    margin-top: -1;
    font-size: 25px;
    padding: 15px;
    width: 500px;


}
/* .devize{
    color: aqua;
    margin-left: 950px;
    margin-top: 30px;
    font-size: 40px;
    border-radius: 10px;
    background-color: rgba(146, 146, 146, 0.438);
    padding: 15px;
    width: 500px;
} */
.ava{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.ava1{
    margin-left: 700px;
    margin-top: 300px;
    width: 200px;
    height: 200px;
    border: 2px solid aqua;
    border-radius: 10px;
}
.vl{
    margin-left: 820px;
    margin-top: 180px;
    width: 600px;
    font-size: 25px;
    background-color: rgba(146, 146, 146, 0.438);
    border-radius: 10px;
}
.dsaa{
	width: 50px;
	margin-left: -1800px;
	margin-top: 60px;
}
.red{
    color: #FF4500;
    padding: 10px;
}
.rep{
    position: relative;
    /* margin: 10px; */
    /* padding: 10px; */
    border-radius: 10px;
    width: 200px;
    height: 400px;
    left: 702px;
    top: 40px;
}
.repa{
    color: rgb(255, 255, 255);
    border: 1px  solid rgb(255, 255, 255);
    font-family: minecraftrus;
    font-size: 15px;
    height: 30px;
    background-image: url(../img/button3.png);
    border-radius: 20px;
}
.repa:hover{
    background-color: rgba(0, 225, 255, 0.705);
    transform: scale(0.95);
    transition: 0.3s all;
}
.city2{
    color: rgb(255, 0, 0);
    border: 5px  solid rgb(255, 255, 255);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 185px;
    font-family: minecraftrus;
    font-size: 20px;
    background-image: url(../img/button3.png);
}