@font-face {
    font-family: minecraftrus;
    src: url(./fonts/minecraft.ttf);
   }
body{
	background-image: url(./bacground_images/mainfon.png);
	font-family: minecraftrus;
    text-align: center;
    background-attachment: fixed;    
}
.sett{
    position: fixed;
    z-index: -1000;
    padding: 5px;
    /* border: 2px solid aqua; */
    background-color: rgba(105, 105, 105, 0.404);
    left: 0px;
    width: 360px;
    height: 1000000000000000px;
    margin-top: -5000px;
    /* padding: 100px; */
    }
.diva{
    position: fixed;
    width: 400px;
    height: auto;
    background-color: rgba(66, 66, 66, 0.404);
    border-radius:  20px;
    margin-left: 75%;
    margin-top: 26%;

    
}
.divb{
    position: relative;
    width: 50%;
    height: auto;
    background-color: rgba(66, 66, 66, 0.404);
    border-radius:  20px;
    margin-left: 22%;
    margin-top: 0%;
    
}

.buttfd{
/* z-index: 0; */
background-color: rgba(105, 105, 105, 0);
font-size:40px;
font-family: minecraftrus;
border: 0px;
left:0px;
width: 373px;
height: 70px;
border-radius: 0px;
position: fixed;
top: 250px;
}
.list{
    color: rgb(119, 119, 119);
}
.buttfd:hover{
background-color: rgba(146, 146, 146, 0.199);
color:rgb(226, 226, 226);
transform: scale(0.99);
}
.nick{
    /* border: 1px solid rgb(255, 0, 212); */
    color: rgb(0, 68, 255);
    font-size: 30px;
    padding: 15px;
    width: 200px;
}
.name{
    position: relative;
    vertical-align: bottom;
    bottom: 20px;
    /* border: 1px solid aqua; */
    /* color: #FF4500;
    font-size: 40px;
    padding: 15px;
    margin-top: 100px; */
    color: #FF4500;
    font-size: 20px;
    padding: 5px;
    padding-bottom: 30px;
}
.POD{
    position: relative;
    vertical-align: bottom;
    bottom: 20px;
    /* border: 1px solid aqua; */
    /* color: #FF4500;
    font-size: 40px;
    padding: 15px;
    margin-top: 100px; */
    color: aqua;
    font-size: 20px;
    padding: 5px;
    padding-bottom: 30px;
}
.PODD{
    position: relative;
    /* border: 1px solid aqua; */
    /* color: #FF4500;
    font-size: 40px;
    padding: 15px;
    margin-top: 100px; */
    color: aqua;
    font-size: 20px;
    padding: 5px;
    padding-bottom: 30px;
    left: 40px;
}
.devize{
    /* border: 1px solid rgb(255, 0, 0); */
    text-align: center;
    color: aqua;
    font-size: 30px;
    /* padding: 10px ; */
    padding-left: 115px;
}
.ava{
    width: 50px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid aqua;
    margin-bottom: -30px;
    margin-bottom: 5px;
}
.ava1{
    margin-left: 700px;
    margin-top: 150px;
    width: 100px;
    height: 100px;
    border: 2px solid aqua;
    border-radius: 10px;
}
.vl{
    margin-left: 820px;
    margin-top: 50px;
    width: 600px;
    font-size: 25px;
    background-color: rgba(146, 146, 146, 0.438);
    border-radius: 10px;
}
.dsaa{
	width: 50px;
	margin-left: -1800px;
	margin-top: 60px;
}
.users{
    /* border: 2px solid aqua; */
    margin-left: 400px;
    z-index: -100;
}
.mod{
    color: #FF4500;
}

.user{
    /* position: relative; */
    text-align: left;
    font-size: 25px;
    /* border: 1px solid rgb(0, 47, 255); */
    border-radius: 20px;
    /* /* height: 50%; */
    /* width: 70%; */
    margin: 10px;
    /* margin-left: 20%;
    margin-top: 30px; */ 
    border-width: 40px;
    background-color: rgba(61, 61, 61, 0.384);
    /* border: 2px solid #ff440081; */
    padding: 20px;
}
.user:hover{
    background-color: rgba(61, 61, 61, 0.651);
    /* border: 2px solid #ff440081; */
}

/*//////////////////////////////////////////////////////////////////*/
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.555);
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	display: none;
	pointer-events: none;
}
.modalDialog:target {
	display: block;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}
.city{
    color: rgb(255, 255, 255);
    border: 5px  solid rgb(255, 255, 255);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    font-family: minecraftrus;
    font-size: 20px;
    background-image: url(./button_images/button3.png);
}
.city:hover{
    background-color: rgba(0, 225, 255, 0.705);
    transform: scale(0.95);
    transition: 0.3s all;
}
.city2{
    color: rgb(255, 0, 0);
    border: 5px  solid rgb(255, 255, 255);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    font-family: minecraftrus;
    font-size: 20px;
    background-image: url(./button_images/button3.png);
}
.city2_scrol::-webkit-scrollbar {
    width: 7px;
    background-color: #F8F9FA;
    padding: 5px;
}

.city2_scrol::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #D9D9D9;
}
.apparea{
    text-align: center;
    background-image: url(./button_images/button3.png);
	width: 300px;
    color: rgb(177, 177, 177);
    font-size: 25px;
    border: 2px solid rgb(0, 47, 255);
    border-radius: 10px;
    padding: 7px;
    margin-top: 10px;
}
.time{
    text-align: center;
    background-image: url(./button_images/button3.png);
	width: 90px;
    color: rgb(255, 0, 0);
    font-size: 25px;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 7px;
    margin-top: 10px;
}
.apparea::placeholder{
    color: #6d6d6d;
}
.apparea:hover{
    border: 2px solid rgb(0, 195, 255);
    transition: 0.3s all;
}
.obvod{
    color: aqua;
}

.close:hover { background: #00d9ff; }
.usera{
    position: relative;
    vertical-align: bottom;
    bottom: 70px;
    left: 750px;
    color: rgb(255, 255, 255);
    border: 1px  solid rgb(255, 255, 255);
    font-family: minecraftrus;
    font-size: 50px;
    height: 50px;
    background-image: url(./button_images/button3.png);
    border-radius: 20px;
}

.usera:hover{
    background-color: rgba(0, 225, 255, 0.705);
    transform: scale(0.95);
    transition: 0.3s all;
}