@font-face {
    font-family: minecraftrus;
    src: url(fonts/minecraft.ttf);
   }
body{
	background-image: url(bacground_images/fon.png);
	font-family: minecraftrus;
    text-align: center;
    width: 95%;
    background-attachment: fixed;    
}
.obvod{
-webkit-text-stroke: 1px black;
}
h1{
	font-size: 500%;
	text-align: center;
	margin-top: 10%;
	color:#FF4500;
}
h3{
	font-size: 100%;
	color:#FFD700;
	margin-top: 10%;
}
h2{
    font-size: 50%; 
    
}
.unww{
	font-size:40px;
	text-align: center;
	margin-top: -50px;
	color:#FFD700;
}
.mir{
	color:#7FFFD4;
}

.unww{
	font-size:40px;
	text-align: center;
	margin-top: -50px;
	color:#FFD700;
}
.button{
    color: rgb(255, 255, 255);
    background-image: url(button_images/button3.png);
    border: 5px  solid rgb(0, 0, 0);
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    width: 30%;
    font-family: minecraftrus;
    font-size: 20px;
}
.button:hover{
    background-color: rgba(0, 225, 255, 0.705);
    transform: scale(0.95);
    transition: 0.3s all;
}

/* .one::before{
    content: 'falsedanger.ru';
    }
.one:hover::before{
    content: 'Cкопировать IP';
}
.clicked::before{
    content: 'Скопировано!';
} */
.two::before{
    content: 'Вы уже играете на сервере?';
}
.two:hover::before{ 
    content: 'Зарегистрироваться на сайте';
}
.free{
    content: 'Бугага';
}
.free::before{
    content: 'Вы уже зарегистрировались на сайте?';
}
.free:hover::before{ 
    content: 'Войти';
}
.apph3{
	margin-top:-20px;
}
.pred {
	margin-top: 20px;
	color:#00FFFF;
}
.text_line{
        text-align: center;
        background-image: url(../img/button3.png);
        width: 450px;
        color: rgb(177, 177, 177);
        font-size: 25px;
        border: 2px solid rgb(0, 47, 255);
        background-color: rgba(0, 47, 255, 0.281);
        border-radius: 10px;
        padding: 7px;
        margin-top: 10px;
   
}

.text_line::placeholder{
        color: #6d6d6d;
}
.text_line:hover{
        border: 2px solid rgb(0, 195, 255);
        transition: 0.3s all;
}
.modal{
    background-color:#00000080;
    border-radius:20px;
    opacity: 0;
    animation: ani 0.5s forwards;
  }
  
  @keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
.modal::backdrop{
opacity: 1;
background-color: rgba(0, 0, 0, 0.24);
backdrop-filter: blur(5px);
opacity: 0;
animation: ani 0.5s forwards;
}

@keyframes ani {
0% {opacity: 0;}
100% {opacity: 1;}
}

.button_vhod{
    margin-left: 95%;
    background-image: url(button_images/button3.png);
    color:aliceblue;
    border-radius: 20px;
    font-size: 20px;
}
.button_vhod:hover{
    transform: scale(0.95);
    transition: 0.3s all;
}